In [2]:
function = input("Enter Function: ")
symbol = input("Enter Stock Code: ")
APIKEY = input("Enter API Key: ")
datatype = input("Enter Data Type (csv/json): ")

Enter Function: TIME_SERIES_MONTHLY
Enter Stock Code: INFY
Enter API Key: SZ1H8MS5IERRJ4F8
Enter Data Type (csv/json): csv

In [3]:
URL = 'https://www.alphavantage.co/query?function='+function+'&symbol='+symbol+'&apikey='+APIKEY+'&datatype='+datatype

In [9]:
symbol = input()
URLp1 = 'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol='
URLp2 = str(symbol)
URLp3 = '&apikey=SZ1H8MS5IERRJ4F8&datatype=csv'
URL = URLp1 + URLp2 + URLp3
URL

ADANIPORTS

'https://www.alphavantage.co/query?function=TIME_SERIES_MONTHLY&symbol=ADANIPORTS&apikey=SZ1H8MS5IERRJ4F8&datatype=csv'

In [4]:
import pandas as pd
ccssvv = pd.read_csv(URL)
ccssvv

      timestamp    open      high      low   close     volume
0    2021-04-16   18.92   19.5599   17.240   18.18   89997569
1    2021-03-31   17.42   19.3700   17.380   18.72  214864988
2    2021-02-26   17.19   18.1600   16.940   17.12  143908958
3    2021-01-29   17.39   19.0733   16.875   16.88  186502254
4    2020-12-31   15.49   17.0300   15.170   16.95  168842555
..          ...     ...       ...      ...     ...        ...
252  2000-04-28  180.80  284.6000  131.100  203.00    6454700
253  2000-03-31  287.00  375.0000  180.000  193.00    4077500
254  2000-02-29  327.90  681.0000  239.100  270.30    3390450
255  2000-01-31  375.00  402.0000  266.000  324.90    1648800
256  1999-12-31  210.10  360.0000  204.100  330.00    1569800

[257 rows x 6 columns]